/* font-family: 'Satisfy', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Allerta Stencil', sans-serif; */
body {
    background-image: url(../images/sunset.jpg) !important; */
}

.container-full {
    /* background-image: url(../images/sunset.jpg) !important; */
    background-size: cover;
    width: 100%;

}
.container {
    background: #000000e3;
    height: 620px;
}
.col-md-8 {
    margin-top: 8%; 
}
.col-md-4{
    margin-top:8%;
}
.form-row {
    color:white;
  }
.row h1 {
      border: 2px solid #fd7e14;
      color:white;
      text-align: center;
      font-family: 'Gloria Hallelujah', cursive;
      height: 60px;
      font-size: 47px;
      padding-left: 50px;
      margin-top:25px;
      margin-left: 20px;
}
#button {
        background-color: #fd7e14;
        margin-left:130px;
        color:black;
        border:1px solid black;
}
h1 {
    display: center; 
}
.row span {
    background-color: #fd7e14;
    height: 60px;
    font-family:'Allerta Stencil', sans-serif;

}
p {
    color:white;
    border-right: 1px solid grey;
    padding:10px;
}
.card-footer {
    margin-bottom: 0%;
    margin-left:350px;
    color:white;
}