/* font-family: 'Satisfy', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Allerta Stencil', sans-serif; */

.container-full {
    background-image: url(../images/sunset.jpg) !important;
    background-size: cover;
    width: 100%;
    height: auto;

}
.container {
    /* background-color: ##000000d4; */
}